# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
.env/
testenv/


# Distribution / packaging
dist/
build/
*.egg-info/

#specific files
test.txt
marie.jpg
1682667763804.jpg:Zone.Identifier
